body{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}
header{
    border-bottom: 2px solid #8a8a8b;
}
.review-logos{
    margin-bottom: 60px;
}
.banner-section-wrapper{
    padding: 100px 0px 0px;
}
.banner-section-wrapper h1{
    font-size: 66px;
    line-height: 77px;
    font-weight: 700;
    margin-bottom: 40px;
}
.banner-section-wrapper p{
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
}
.col-5th{
    flex: 0 0 20%;
    max-width: 20%;
  }
.navbar-expand-md .navbar-nav .nav-link{
    color: #333333;
}
.navbar-nav.me-auto{
    margin-left: auto!important;
    margin-right: 0px !important;
}
.space-left-right{
    padding: 0px 50px;
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 15px 30px;
}
.spaceleft-right{
    padding: 0px 60px;
}
.social-icons ul{
    margin: 0px;
    padding: 0px;
}
.social-icons ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}
.header-section-rightside{
    display: flex;
    align-items: center;
}
.ph-no{
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    margin: 0px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.ph-no i{
    margin-right: 10px;
    flex-shrink: 0;
}
.ph-no div{
    flex-shrink: 0;
}
.header-btn{
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    border: 0px;
    background: #000000 !important;
    border-radius: 0px;
    color: #ffffff !important;
   padding: 28px 30px;
   margin-left: 20px;
}
.header-btn:hover{
    background-color: #FFDD33;
}
.main-footer{
    background-color: #1C1C1E;
}
.footer-links h6{
    font-size: 24px;
    color: #ffffff;
    line-height: 27px;
    margin-bottom: 30px;
}
.footer-links ul{
    margin: 0px;
    padding: 0px;
}
.footer-links ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}
.footer-links ul li{
    margin-bottom: 20px;
}
.main-footer{
    padding: 60px 0px;
}
.footer-social ul{
    margin: 0px;
    padding: 0px;
}
.footer-social ul li{
    display: inline-block;
    margin: 0px 12px;
}
.footer-social ul li a{
    color: #ffffff;
}
.footer-bottom{
    border-top: 1px solid #D8DAE2;
    padding-top: 20px;
}
.footer-top{
    padding-bottom: 100px;
}
.footer-social ul li a i{
    font-size: 30px;
}
.footer-social{
    padding: 30px 0px;
}
.copyright{
    font-size: 20px;
    color: #ffffff;
    margin: 0px;
}
.footer-links.footer-bottom-links ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-links.footer-bottom-links ul li a{
    font-size: 16px;
}
.footer-links.footer-bottom-links{
    text-align: center;
}
.start-your-free-form{
    margin-top: 30px;
}
.start-your-free-form .form-control{
    border: 1px solid #E0E2E8;
    height: 46px;
    width: 290px;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
}
.btn{
    color: #000000;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fee966+0,e6c700+100 */
    background: linear-gradient(to bottom,  #fee966 0%,#e6c700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 0px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
}
.start-your-free-form .btn{
    height: 46px;
}
.banner-image{
    padding-top: 70px;
    background-image: url(../images/gloss.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 40px;
}
.we-are-excited .flag{
    text-align: center;
}
.we-are-excited .logo{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.we-are-excited h3{
    color: #1C1C1E;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 0px;
}
.we-are-excited{
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    padding: 60px 0px;
    background-color: #ffffff;
}
.we-are-excited h3 span{
    background-image: url("../images/Vector-83.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 15px;
}
.section-title h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    display: inline-block;
}
.section-title h2 span{
    display: block;
    text-align: left;
}
.space-top-bottom{
    padding: 100px 0px;
}
.eighteen-pixel{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}
.item-content h6{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 700;
}
.item-content p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
.item-content{
    margin-top: 20px;
}
.grow-your-gym .owl-one{
    margin-top: 40px;
}
.twenty-five{
    font-size: 25px;
    font-weight: 500;
}
.icon-title{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.icon-title p{
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
    margin-left: 20px;
}
.icon-title-description p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0px;
}
.icon-title-text{
    margin-bottom: 40px;
}
.whatsapp-books.space-top-bottom{
    margin-top: 0px;
}
.reel-section-wrapper .videowrapper video{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.whatsapp-books.space-top-bottom{
    padding-bottom: 60px;
    padding-top: 40px;
}
.we-fit-in-section h2 span{
    text-align: right;
}
.business-icon{
    width: 94px;
    height: 94px;
    background-image: url("../images/gym.png");
    background-position: bottom;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease-in-out 0s;
}
.business-box{
    border: 1px solid #FFE6A6;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 210px;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    display: block;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}
.business-box:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fee966+0,e6c700+100 */
background: linear-gradient(to bottom,  #fee966 0%,#e6c700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.business-box:hover .business-icon{
    background-position: top;
}
.business-box h6{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
.we-fit-in-section .eighteen-pixel{
    margin-bottom: 40px;
}
.owl-three .fitness-studio .business-icon{
    background-image: url("../images/fit.png");
}
.owl-three .dance-studio .business-icon{
    background-image: url("../images/dance.png");
}
.owl-three .cross-fit .business-icon{
    background-image: url("../images/cross.png");
}
.owl-three .yoga .business-icon{
    background-image: url("../images/Yoga.png");
}
.color-grey{
    background-color: #fafafb;
}
.dropdown-wrapper{
    border: 2px solid #B3B3B3;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 60px 40px;
}
.accordion-button:focus{
    border: 0px;
    box-shadow: none;
}
.section-with-dropdown .accordion-item{
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.section-with-dropdown .accordion-button{
    border-radius: 0px;
    background: none;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    padding: 30px 0px;
}
.section-with-dropdown .accordion-body{
    font-size: 18px;
    line-height: 28px;
    color: #555A6A;
    padding: 20px 0px;
}
@media only screen and (min-width:1400px){

    .container-fluid{
        max-width: 1920px;
    }
}
@media only screen and (max-width:1400px){

    .icon-title p br{
        display: none;
    }
}